html {
    background: url(https://raw.githubusercontent.com/balint12345/portfolio/main/docs/pexels-life-of-pix-2391.jpg);
    background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}


table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  
}


a:link, a:visited {
  width: 100%;
  background-color: #edea39;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #f5f184;
  color: #57564a;
}

div.cim{
	font-family: Rockwell;
	position: absolute;
    left: 25%;
	top: 5%;
	text-decoration: underline;
}


div.menu{
	 position: absolute;
     left: 80%;
	 top: 15%;
	 width: 13%;
}

div.bemutatkozas{
	width:40%;
	position: absolute;
	top: 16%;
	left: 30%;
	font-family: Rockwell;
	background-color: #98E86D;
	text-align: justify;
    text-justify: inter-word;
	border: 2px solid #6CB985;
	border-radius: 25px;
}

div.profilkep{
	position: absolute;
	top: 16%;
	left: 11%;	
}

img{
	 width:20%;
	 position: relative;
	 top:18%;
	 left: 0%;
}

div.szoveg{
	position:relative;
	left:2%;
	width:96%;
}
